<div class="login">
    <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    >
        <div class="form_lable">
        <label for="login">
            Username
        </label>
        <input id="username" type="text"
        formControlName="username">
        </div>
        <div *ngIf="_username.invalid && (_username.dirty || _username.touched)" class="alert alert-danger">
            <div class="red_text" *ngIf="_username.errors?.required">Обязательное поле</div>
            <div class="red_text" *ngIf="_username.errors?.minlength">Введите не менее 4 символов</div>
        </div>
    
        <div class="form_lable">
        <label for="password">
            Password
        </label>
        <input name="password" id="password" type="password" 
        formControlName="password">
        </div>
        <div *ngIf="_password.invalid && (_password.dirty || _password.touched)" class="alert alert-danger">
            <div class="red_text" *ngIf="_password.errors?.required">Обязательное поле</div>
            <div class="red_text" *ngIf="_password.errors?.minlength">Введите не менее 8 символов</div>
        </div>
    
        <button class="button" type="submit" class="btn" [disabled]="form.invalid || form.disabled">Зарегестрироваться</button>
    </form>
</div>