<header>
    <div class="header_nav">
        <div class="header_nav_logo"><a href="" class="logo">Forum</a></div>
        <div class="header_nav_nav">
            <ul>
                <li routerLinkActive="active"><a routerLink="login" class="link">Вход</a></li>
                <li routerLinkActive="active"><a routerLink="reg" class="link">Регестрация</a></li>
                <li routerLinkActive="active"><a routerLink="/message" class="link">Отправить сообщение</a></li>
            </ul>
        </div>
    </div>
</header>
<div class="wrapper">
    <router-outlet></router-outlet>
</div>

